<div class="alert alert-success-dark" role="alert">
    <h2>Aktualnie dodane drinki</h2>
    <h4>Jeśli chcesz edytować drinka, wciśnij go</h4>

    <div class="container">
        <div class="row justify-content-md-center">
            <div #selectedDrink (click)="editDrink(drink.name)" valve="" *ngFor="let drink of drinks" [attr.drink-name]="drink.name" class="drink col-12 col-sm-6 col-lg-4">
                <div class="media text-muted pt-3">
                    <img src="{{drink.img}}" alt="jakub paszko" class="mr-2 rounded drink-photo">
                    <div class="media-body pb-3 mb-0 small lh-125" style="position: relative;">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <strong class="text-name-drink">{{drink.name}}</strong>
                        </div>
                        <span class="drink-skladniki" *ngFor="let substitute of drink.substitutes">{{substitute.substitute.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-success-dark" role="alert">
    <form id="formCreateDrink">
        <h2>Stwórz nowego drinka</h2>
        <div class="container">
            <div class="row">
                <div class="name-drink" class="col-6">
                    <input id="name-drink" placeholder="Nazwij drinka" style="width: 100%;" type="text" name="" class="form-control">
                </div>
                <div class="img-drink" class="col-6">
                <span style="width: 100%;" id="img-drink" class="btn btn-primary btn-file">
                    Dodaj zdjęcie <input type="file">
                </span>
                </div>
            </div>
            <div class="row">
                <div class="name-drink" class="col-6">
                    <div *ngFor="let substitute of substitutes" id="name-drink" placeholder="Nazwij drinka" style="width: 100%;" type="text" name="" class="form-control">{{ substitute.name }}</div>
                </div>
                <div class="img-drink" class="col-6">
                    <input *ngFor="let substitute of substitutes" id="name-drink" min="0" max="100" value="0" style="width: 100%;" type="text" name="" class="form-control">
                </div>
            </div>
            <button id="button-bt" type="submit" class="btn btn-primary mb-2" (click)="addDrink()">Dodaj drinka</button>
        </div>
    </form>
</div>
