<nav class="navbar navbar-expand-xs fixed-top navbar-dark bg-dark">
  <a class="navbar-brand mr-auto mr-lg-0" routerLink="/home">LejDrina.io</a>
  <button class="navbar-toggler ml-auto custom-toggler" type="button" (click)="toggleCollapse()" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarNavDropdown" class="navbar-collapse collapse" [class.show]="show">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home"  (click)="toggleCollapse()">Lista dostępnych drinków</a>
        <a class="nav-link" routerLink="/add"  (click)="toggleCollapse()">Kreator drinków</a>
        <a class="nav-link" routerLink="/config"  (click)="toggleCollapse()">Konfigurator</a>
      </li>
    </ul>
  </div>
</nav>

<main role="main" class="container">
  <router-outlet></router-outlet>
</main>
