<form>
    <div class='table-responsive bg-dark'>
        <!--Table-->
        <table id="tablePreview" class="table table-striped table-hover text-center bg-dark">
            <!--Table head-->
            <thead>
            <tr>
                <th class="number_sub">Numer pompy</th>
                <th style="width: 200px;">Substytut</th>
                <th style="width: 75px;">Pełna zawartość substytutu [ml]</th>
                <th style="width: 75px;">Zawartość alkoholu [%]</th>
            </tr>
            </thead>
            <!--Table head-->
            <!--Table body-->
            <tbody>
            <tr *ngFor="let substitute of substitutes; index as i">
                <th scope="row bg-light">{{i}}</th>
                <td><input style="width: 100%;" scope="row" [(ngModel)]="substitutes[i].name" (focus)="saveValue(substitutes[i].name)" (blur)="processChange(substitutes[i].name)" type="text" name="{{substitute.name}}" class="form-control"></td>

                <td><input style="width: 100%;" scope="row" (focus)="saveValue(substitutes[i].ml)" (blur)="processChange(substitutes[i].ml)" [(ngModel)]="substitutes[i].ml" type="number" name="{{substitute.ml}}" min="1" class="form-control"></td>
                
                <td><input style="width: 100%;" (focus)="saveValue(substitute.percent)" (blur)="processChange(substitute.percent)" scope="row" [(ngModel)]="substitutes[i].percent" type="number" name="{{substitute.percent}}" min="0" max="100" class="form-control"></td>
            </tr>
            </tbody>
            <!--Table body-->
        </table>
        <!--Table-->
    </div>
</form>
