/* You can add global styles to this file, and also import other style files */
#save-config{
    width: 96%;
}
.navbar-brand {
    font-size: 30px;
}

.alert {
    margin-top: 50px;
    background-color: rgba(246, 162, 27, 0.72);
    color: white;
}

#button-bt{
    width: 100%;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0 0 0;
}
body {
    /* Location of the image */
    background-image: url('/assets/photo/background.jpg');

    /* Image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Image doesn't repeat */
    background-repeat: no-repeat;

    /* Makes the image fixed in the viewport so that it doesn't move when
       the content height is greater than the image height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based on its container's size */
    background-size: cover;

    /* Pick a solid background color that will be displayed while the background image is loading */
    background-color:#464646;

    /* SHORTHAND CSS NOTATION
     * background: url(background-photo.jpg) center center cover no-repeat fixed;
     */
}

.bg-dark{
    background-color: rgba(241, 142, 101, 0.72) !important;
}

.drink-skladniki{
    color: white;
}

.text-name-drink{
    color: white;
    font-size: 22px;
}

.drink{
    background-color: #faad30;
}

.makeDrink{
    width: calc(100% - 16px);
}

.drink-photo{
    margin-left: 10px;
    margin-top: 15px;
}

.table-responsive {
    margin-top: 50px;
    color: white;
}

.table td, .table th{
    border: 1px solid #f6a21b;
}
.table thead th {
    border-bottom: 2px solid #fec35f;
}

th{
    color: white;
    background-color: #f6a21b;
}

tr{
    color: white;
}

.number_sub{
    width: 10px;
}

.btn-primary {
    background-color: #f18e65;
    border: 2px solid #fec35f; /*set the color you want here*/
    margin-left: 8px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: white;
    background-color: #f6a21b;
    border-color: #f6a21b;
}

input.form-control {
    width: auto;
}

row:nth-child(odd) {
    background: #ff0000;
}

row:nth-child(even) {
    background: #0000ff;
}

#listSelectSubs{
    background-color: rgba(241, 142, 101, 0.72);
    display: inline-block;
    padding: 5px;
    height: auto;
}

label, span{
    margin: 10px 0 10px 0;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}

#img-drink{
    margin: 0 0 20px 0;
}

#name-drink{
    text-align: center;
}

#add-drink{
    margin: 40px 0 0 0;
    width: 100%;
}

h2{
    text-align: center;
    margin-bottom: 20px;
}

h4{
    font-size: 14px;
    text-align: center;
}
