<div class="alert alert-success-dark" role="alert">
    <h5 class="text-center"><p>Lista dostępnych drinków</p></h5>
    <hr>
    <button id="button-bt"(click)="ble.connect()" *ngIf="!(ble.isConnect())">Połącz się ze mną</button>

    <div class="container">
        <div class="row justify-content-md-center">
       <!--     <div class="drink col-12 col-sm-6 col-lg-4" *ngIf="(ble.isConnect())">
                <div class="media text-muted pt-3">
                    <img src="assets/photo/longisland.jpg" alt="jakub paszko" class="mr-2 rounded drink-photo">
                    <div class="media-body pb-3 mb-0 small lh-125" style="position: relative;">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <strong class="text-name-drink">Paszko Drink</strong>
                        </div>
                        <span class="drink-skladniki">Hassek Vodka, Muszynianka, 3 Cytryny Zbyszka</span>
                    </div>
                </div>
                <select scope="row" [(ngModel)]="substitutes[i].name" type="text" name="{{substitute.name}}" class="btn btn-primary makeDrink">
                    <option>Mocny</option>
                    <option>Średni</option>
                    <option>Słaby</option>
                </select>
                <button scope="row" class="btn btn-primary makeDrink" data-loading-text="Nalewam.." data-id="Paszko Drink">Zrób</button>
                <hr>
            </div>!-->
            <div *ngFor="let drink of drinks" class="drink col-12 col-sm-6 col-lg-4" >
                <div class="media text-muted pt-3">
                    <img src="{{drink.img}}" alt="jakub paszko" class="mr-2 rounded drink-photo">
                    <div class="media-body pb-3 mb-0 small lh-125" style="position: relative;">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <strong class="text-name-drink">{{drink.name}}</strong>
                        </div>
                        <span class="drink-skladniki" *ngFor="let substitute of drink.substitutes">{{substitute.substitute.name}}</span>
                    </div>
                </div>
                <select scope="row" type="text" class="btn btn-primary makeDrink">
                    <option>Mocny</option>
                    <option>Średni</option>
                    <option>Słaby</option>
                </select>
                <button scope="row" class="btn btn-primary makeDrink" data-loading-text="Nalewam.." data-id="Paszko Drink">Zrób</button>
                <hr>
            </div>
        </div>
    </div>

        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>

</div>
